*{
    /* outline:1px dotted red; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-rows: 8vw 60px;
   
}

header h1{
    background-color: white;
    color:black;
    
    
}

header h2{
    background-image: linear-gradient(#336699, #7388c4, #336699);
    color:white;
    padding: 20px;
    margin:0;
}

header img{
    height: 125%;
    z-index: 2;
    align-self: flex-start;
}

.head{
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    height: 100%;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color:#F4F4F4;
    gap:20px;
}

button{
    width: 100%;
}

.imgside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    background-image: url(img/ad_background.png);
}

.imgside img{
    margin-bottom: 10px;
    width: 50%;
}

.imgside h3{
    color:white;
    text-align: center;
}

.headmain{
    display: flex;
    justify-content: space-between;
}

.breadcrumb{
    display:flex;
    align-items: center;
}

.breadcrumb img{
    width:20px; 
}

.breadcrumb a{
    text-decoration: none;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.contact h2,p{
    margin: 0;
}
.contactfull{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.contactfull img{
width: 2.5rem;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

.lblue{
    color:#03B1DD;
}

.btn{
    padding: 7px;
    width: 95%;
    margin: 5px;
    box-shadow: 2px 2px 4px #888888;
    color: white;
    border-radius: 5px;
    border:0px;
    cursor: pointer;
    
}

.buttonb{
    background-image: linear-gradient(#6699cc, #336699);
}
.buttono{
    background-image: linear-gradient(#ff9966, #ff6600);
}
.buttonl{
    background-image: linear-gradient(#66cccc, #00cccc);
}

.buttonl::after{
    content: " \00BB"; 
    color:white;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;

}

.side p{
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 12px;
    
}

.side h4{
    align-self: flex-start;
}

.side hr{
    width: 90%;
}

.main h3{
    color:#336699;
}

.main .centerimg{
    display: flex;
    justify-content: center;
    margin:10px 0;
}

.main .centerimg img{
    width: 50%;
}

.htmlbanner{
    display: flex;
    padding: 15px;
    border: 4px solid #336699;
    align-items: center;
}

.htmlbanner img{
    width: 15%;
    height: auto;
}

.htmlbanner .content{
    margin-left: 15px;
}

.htmlbanner .content h3{
    margin:0;
}

.htmlbanner .content p span a{
    text-decoration: none;
    color:rgb(25, 90, 187);
    font-weight: 600;
}
